.contact {
  padding: 3em;
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: purple;
}

#logo > img {
  width: 240px;
}

#logo {
  text-align: center;
}
