@font-face {
  font-family: "slogan";
  src: url(SourceSansPro-Light-webfont.woff2);
}

@font-face {
  font-family: "offer";
  src: url(SourceSansPro-Regular-webfont.woff2);
}

.contact {
  padding: 3em;
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: purple;
  margin: 0;
}

#logo > img {
  width: 240px;
  margin-top: -20px;
}

#logo {
  text-align: center;
  margin-bottom: 30px;
}

#slogan {
  font-size: 60px;
  text-align: center;
  font-family: "slogan";
  font-weight: 100;
}

#offer {
  font-size: 15px;
  text-align: center;
  font-family: "offer";
  margin-top: 20px;
}

.phones {
  width: 70%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#headerphoneleft.phone {
  width: 33%;
  position: relative;
  right: -10%;
}

#headerphonecenter.phone {
  width: 33%;
  position: relative;
  top: -20px;
  z-index: 3;
}

#headerphoneright.phone {
  width: 33%;
  position: relative;
  left: -10%;
}
